Capstone Project - The Battle of Neighborhoods(week#1)

Introduction

"Would you recommend a location in Chennai,India to open a new cinema with includes Multiplex IMAX Theatre?"

One of the Business Vendor, the stakeholder wants to open a new cinema as company's new business.
They explains that watching movie is a part of entertainments. Cinema should has many restaurants and shopping places nearby. Transportation is also an important factor. Customer can walk to cinema within 5 minutes from public transport facilities is perfect.
He wants me concentrated on selection of cinema location according to its nearby environment. Cinema facility and rental price is not my concern. He lists out his top 10 favorite cinemas in Hong Kong with rating.
I work with my teammates and select 5 possible locations to build the cinema. Which location or area or sub urban should be suggested to the stakeholder?

Data where you describe the data that will be used to solve the problem and the source of the data.

According to the question, following data are required.

1. Geographic coordinate of Chennai cinemas
I need to compare 10 possible locations with current cinemas in Chennai, Tamilnadu,India. Therefore, I need to find a list of Chennai cinema and cinemas' geographic coordinates. I can find the list and coordinates downloaded from various websites and found latitude / Longitude from https://www.latlong.net/convert-address-to-lat-long.html of each location/areas of Chennai.

In [10]:
# Import necessary library
import json
import pandas as pd

In [15]:

import sys
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_04c00c8260d14c19b85a479f8f8187b0 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='rY8AzHhGvzSG3xx8p5zTSP0qIe8Rnl-Cz7VwQQo59GnB',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_04c00c8260d14c19b85a479f8f8187b0.get_object(Bucket='pythoncourse-donotdelete-pr-na4wsbcsia019k',Key='cinema_coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_4 = pd.read_csv(body)
df_data_4.head()

,cinema,address,area,pincode,latitude,longtude,rating
0,Abirami Multiplex,"152 Purasaiwalkam High Road, Kilpauk",Kilpauk,600010,13.08700,80.25847,4.0
1,Agastya Cinema Hall,232 Tondiarpet High Road,Tondiarpet,600081,13.13150,80.25243,3.2
2,Ags Royal Multiplex,1 Mettu Street,Villivakkam,600049,13.10434,80.20805,4.1
3,Albert Multiplex,13/1 Whannels Road,Egmore,600008,13.07813,80.26346,3.5
4,Anna Cinema Hall,21 Anna Salai,Mount Road,600002,13.00803,80.20820,3.2

In [17]:
cinema = df_data_4

In [18]:
cinema

,cinema,address,area,pincode,latitude,longtude,rating
0,Abirami Multiplex,"152 Purasaiwalkam High Road, Kilpauk",Kilpauk,600010,13.08700,80.258470,4.0
1,Agastya Cinema Hall,232 Tondiarpet High Road,Tondiarpet,600081,13.13150,80.252430,3.2
2,Ags Royal Multiplex,1 Mettu Street,Villivakkam,600049,13.10434,80.208050,4.1
3,Albert Multiplex,13/1 Whannels Road,Egmore,600008,13.07813,80.263460,3.5
4,Anna Cinema Hall,21 Anna Salai,Mount Road,600002,13.00803,80.208200,3.2
5,Avm Rajeshwari Cinema Hall,7 Arcot Road,Vadapalani,600026,13.05010,80.213320,3.8
6,Devi Multiplex,48 Tnk House,Anna Salai,600002,13.06213,80.263168,3.9
7,Ega Multiplex,810 Poonamallee High Road,Kilpauk,600010,13.07632,80.236100,3.9
8,Escape Multiplex,50 Whites Road,Royapettah,600014,13.05809,80.264910,4.6
9,Ganapathy Ram Cinema Hall,101 Lattice Bridge Road,Adyar,600020,13.00436,80.257130,3.0

In [19]:
cinema.head()

,cinema,address,area,pincode,latitude,longtude,rating
0,Abirami Multiplex,"152 Purasaiwalkam High Road, Kilpauk",Kilpauk,600010,13.08700,80.25847,4.0
1,Agastya Cinema Hall,232 Tondiarpet High Road,Tondiarpet,600081,13.13150,80.25243,3.2
2,Ags Royal Multiplex,1 Mettu Street,Villivakkam,600049,13.10434,80.20805,4.1
3,Albert Multiplex,13/1 Whannels Road,Egmore,600008,13.07813,80.26346,3.5
4,Anna Cinema Hall,21 Anna Salai,Mount Road,600002,13.00803,80.20820,3.2

In [20]:
cinema.shape

(10, 7)

Select few possible location for our assignment!

In [21]:
cinema_data = cinema.head()

Dataframe of 5 target locations with geographic coordinates information

In [22]:
cinema_data.shape

(5, 7)

In [23]:
cinema_data

,cinema,address,area,pincode,latitude,longtude,rating
0,Abirami Multiplex,"152 Purasaiwalkam High Road, Kilpauk",Kilpauk,600010,13.08700,80.25847,4.0
1,Agastya Cinema Hall,232 Tondiarpet High Road,Tondiarpet,600081,13.13150,80.25243,3.2
2,Ags Royal Multiplex,1 Mettu Street,Villivakkam,600049,13.10434,80.20805,4.1
3,Albert Multiplex,13/1 Whannels Road,Egmore,600008,13.07813,80.26346,3.5
4,Anna Cinema Hall,21 Anna Salai,Mount Road,600002,13.00803,80.20820,3.2

In [24]:
CLIENT_ID = 'V5Y0BGINSJOPOX0UHD3AB5Q5MX3QPIXGXPU2WWSXXLJG5JEW' # your Foursquare ID
CLIENT_SECRET = 'BJ23AGC3CUGIUF5VVHCGBEPY43R2HDZORGSG30ET5IIOFSSK' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

latitude = 13.027
longitude = 80.2707

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: V5Y0BGINSJOPOX0UHD3AB5Q5MX3QPIXGXPU2WWSXXLJG5JEW
CLIENT_SECRET:BJ23AGC3CUGIUF5VVHCGBEPY43R2HDZORGSG30ET5IIOFSSK

In [25]:
search_query = 'food'
radius = 500
VERSION = '20180604'
LIMIT = 30
print(search_query + ' .... OK!')

food .... OK!

In [26]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=V5Y0BGINSJOPOX0UHD3AB5Q5MX3QPIXGXPU2WWSXXLJG5JEW&client_secret=BJ23AGC3CUGIUF5VVHCGBEPY43R2HDZORGSG30ET5IIOFSSK&ll=13.027,80.2707&v=20180604&query=food&radius=500&limit=30'

4. Eatout,Hotel, food facility around cinema
The recommended cinema location needs to have many eating and shopping venues nearby. Convenient public transport is also required.
These data can be found by using FourSquare API to find these venues around the location. The radius of exploration distance is set to 500 meters, which is about 5-10 minutes walking distance.

Following type of venue category will be used to search

In [27]:
import requests
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5c08e854f594df18feae4281'},
 'response': {'venues': [{'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
       'suffix': '.png'},
      'id': '4bf58dd8d48988d16e941735',
      'name': 'Fast Food Restaurant',
      'pluralName': 'Fast Food Restaurants',
      'primary': True,
      'shortName': 'Fast Food'}],
    'hasPerk': False,
    'id': '50a918e7e4b041e7e1d22009',
    'location': {'address': '3/2',
     'cc': 'IN',
     'city': 'Chennai',
     'country': 'India',
     'crossStreet': 'West Circular Road',
     'distance': 243,
     'formattedAddress': ['3/2 (West Circular Road)',
      'Chennai 600028',
      'Tamil Nadu',
      'India'],
     'labeledLatLngs': [{'label': 'display',
       'lat': 13.028611,
       'lng': 80.272222}],
     'lat': 13.028611,
     'lng': 80.272222,
     'postalCode': '600028',
     'state': 'Tamil Nadu'},
    'name': "Varni's Food Court",
    'referralId': 'v-1544087636'},
   {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
       'suffix': '.png'},
      'id': '4bf58dd8d48988d16e941735',
      'name': 'Fast Food Restaurant',
      'pluralName': 'Fast Food Restaurants',
      'primary': True,
      'shortName': 'Fast Food'}],
    'hasPerk': False,
    'id': '4e52605122710da1b3dd0c35',
    'location': {'cc': 'IN',
     'city': 'Chennai',
     'country': 'India',
     'crossStreet': 'Mylapore',
     'distance': 566,
     'formattedAddress': ['Mylapore', 'Chennai', 'Tamil Nadu', 'India'],
     'labeledLatLngs': [{'label': 'display',
       'lat': 13.032083016886196,
       'lng': 80.27100915219074}],
     'lat': 13.032083016886196,
     'lng': 80.27100915219074,
     'state': 'Tamil Nadu'},
    'name': 'Sri Kalathi Fast Food',
    'referralId': 'v-1544087636'},
   {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
       'suffix': '.png'},
      'id': '4bf58dd8d48988d16e941735',
      'name': 'Fast Food Restaurant',
      'pluralName': 'Fast Food Restaurants',
      'primary': True,
      'shortName': 'Fast Food'}],
    'hasPerk': False,
    'id': '50292020e4b023558882bc4f',
    'location': {'address': 'Madha Church Road',
     'cc': 'IN',
     'city': 'Chennai',
     'country': 'India',
     'distance': 277,
     'formattedAddress': ['Madha Church Road',
      'Chennai 600028',
      'Tamil Nadu',
      'India'],
     'labeledLatLngs': [{'label': 'display',
       'lat': 13.029295009871863,
       'lng': 80.27170046655459}],
     'lat': 13.029295009871863,
     'lng': 80.27170046655459,
     'postalCode': '600028',
     'state': 'Tamil Nadu'},
    'name': 'Anbhu Fast Food',
    'referralId': 'v-1544087636'},
   {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/indian_',
       'suffix': '.png'},
      'id': '4bf58dd8d48988d10f941735',
      'name': 'Indian Restaurant',
      'pluralName': 'Indian Restaurants',
      'primary': True,
      'shortName': 'Indian'}],
    'hasPerk': False,
    'id': '4d00c19a1fcef04db82eccb9',
    'location': {'address': 'Karpagam Avenue',
     'cc': 'IN',
     'city': 'Chennai',
     'country': 'India',
     'distance': 591,
     'formattedAddress': ['Karpagam Avenue', 'Chennai', 'Tamil Nadu', 'India'],
     'labeledLatLngs': [{'label': 'display',
       'lat': 13.022413314550983,
       'lng': 80.26793899501193}],
     'lat': 13.022413314550983,
     'lng': 80.26793899501193,
     'state': 'Tamil Nadu'},
    'name': 'S. R. Foods',
    'referralId': 'v-1544087636'}]}}

In [32]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0   conda-forge
    geopy:         1.17.0-py_0 conda-forge

geographiclib- 100% |################################| Time: 0:00:00  20.67 MB/s
geopy-1.17.0-p 100% |################################| Time: 0:00:00  28.83 MB/s
Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    altair:  2.2.2-py35_1 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge

altair-2.2.2-p 100% |################################| Time: 0:00:00  46.94 MB/s
branca-0.3.1-p 100% |################################| Time: 0:00:00  29.88 MB/s
vincent-0.4.4- 100% |################################| Time: 0:00:00  32.18 MB/s
folium-0.5.0-p 100% |################################| Time: 0:00:00  40.65 MB/s
Libraries imported.

In [31]:
favorite = [
    {'Name': 'Abirami Multiplex', 'Rating': 4.0},
    {'Name': 'Agastya Cinema Hall', 'Rating': 3.2},
    {'Name': 'Ags Royal Multiplex', 'Rating': 4.1},
    {'Name': 'Albert Multiplex', 'Rating': 3.5},
    {'Name': 'Anna Cinema Hall', 'Rating': 3.2},
   
]

favorite = pd.DataFrame(favorite, columns=['Name','Rating'])
favorite

                  Name  Rating
0    Abirami Multiplex     4.0
1  Agastya Cinema Hall     3.2
2  Ags Royal Multiplex     4.1
3     Albert Multiplex     3.5
4     Anna Cinema Hall     3.2

In [33]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head(10)

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'pluralName': 'Fast Food Restaurants', 'shor...",False,50a918e7e4b041e7e1d22009,3/2,IN,Chennai,India,West Circular Road,243,"[3/2 (West Circular Road), Chennai 600028, Tam...","[{'label': 'display', 'lat': 13.028611, 'lng':...",13.028611,80.272222,600028,Tamil Nadu,Varni's Food Court,v-1544087636
1,"[{'pluralName': 'Fast Food Restaurants', 'shor...",False,4e52605122710da1b3dd0c35,NaN,IN,Chennai,India,Mylapore,566,"[Mylapore, Chennai, Tamil Nadu, India]","[{'label': 'display', 'lat': 13.03208301688619...",13.032083,80.271009,NaN,Tamil Nadu,Sri Kalathi Fast Food,v-1544087636
2,"[{'pluralName': 'Fast Food Restaurants', 'shor...",False,50292020e4b023558882bc4f,Madha Church Road,IN,Chennai,India,NaN,277,"[Madha Church Road, Chennai 600028, Tamil Nadu...","[{'label': 'display', 'lat': 13.02929500987186...",13.029295,80.271700,600028,Tamil Nadu,Anbhu Fast Food,v-1544087636
3,"[{'pluralName': 'Indian Restaurants', 'shortNa...",False,4d00c19a1fcef04db82eccb9,Karpagam Avenue,IN,Chennai,India,NaN,591,"[Karpagam Avenue, Chennai, Tamil Nadu, India]","[{'label': 'display', 'lat': 13.02241331455098...",13.022413,80.267939,NaN,Tamil Nadu,S. R. Foods,v-1544087636

Methodology

Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, and what machine learnings were used and why.

With above data, I can use content-based recommendation technique to resolve the problem.
Combine with FourSquare API which provides how many venues in different category of Hong Kong cinemas, a matrix which captured characteristic of venues nearby cinema are built. Stakeholder's favorite list is the profile to combine with the matrix to become a weighted matrix of favorite cinema.
The weighted matrix can be applied on 5 target locations with venues information to generate a ranking result. The the top one on the ranking list can be recommended to the stakeholder.
Before building the matrix, I have to prepare the required data and apply some data analysis.

In [34]:
favorite

                  Name  Rating
0    Abirami Multiplex     4.0
1  Agastya Cinema Hall     3.2
2  Ags Royal Multiplex     4.1
3     Albert Multiplex     3.5
4     Anna Cinema Hall     3.2

Results

Results section where you discuss the results.

With the boss's profile and the complete list of cinemas and their venues count in hand, I am going to take the weighted average of every lcoation based on the profile and recommend the top location that most satisfy it.

In [35]:
favorite.mean().to_frame(name='Average Count')

        Average Count
Rating            3.6

In [37]:
favorite.describe()

         Rating
count  5.000000
mean   3.600000
std    0.430116
min    3.200000
25%    3.200000
50%    3.500000
75%    4.000000
max    4.100000